<div><img align="right" src="/images/laptop-cat.gif"></div>

<h1>Enter the changes you wish to make below:</h1>

<form action="/posts/<%= @post.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @post.name %>">
  <input type="text" name="colour" value="<%= @post.colour %>">
  <input type="text" name="gender" value="<%= @post.gender %>">
  <input type="text" name="age" value="<%= @post.age %>">
  <input type="submit" value="Submit Changes">
</form>