<h3>This <%= @post.age %> year old <%= @post.colour %> cat's name is <%= @post.name %>.</h3>

<% if logged_in? && current_user.id == @post.user_id %>
    
    <p>Click <a href="/posts/<%= @post.id %>/edit">here</a> to edit the details of this post.<p>

    <form action="/posts/<%= @post.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Post">
    </form>

<% else %>
    
    <p>If you would like to contact <%= @post.name %>&#39;s owner their email address is <a href="mailto:<%= @user.email %>?subject=Adopting <%= @post.name %>"><%= @user.email %></a></p>

<% end %>

